body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #003366;
  }

  header {
    background-color: #0b97a4;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  header img {
    width: 120px;
    height: auto;
  }

  header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Rokkitt', serif;
    color: #ffffff;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: #002e4d;
  }

  nav a {
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  nav a:hover {
    background-color: #004d66;
  }

  .contenido {
    padding: 2em;
    max-width: 800px;
    margin: auto;
  }

  .perfil {
    background-color: #f0f8ff;
    padding: 2em;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 3em;
  }

  .perfil h2 {
    text-align: center;
    color: #004d66;
  }

  .datos-usuario {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .dato {
    background: #e0f2f1;
    padding: 1em;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cce7e7;
  }

  .dato span {
    font-weight: bold;
    color: #003c4d;
  }

  footer {
    background-color: rgba(0, 46, 77, 0.05);
    text-align: center;
    padding: 1em;
  }

  footer a {
    margin: 0 1em;
    color: #003366;
    font-size: 1.5em;
    transition: color 0.3s;
  }

  footer a:hover {
    color: #006d77;
  }

  .boton-editar {
    display: block;
    margin: 1em auto 2em auto;
    background-color: #0b97a4;
    color: white;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;

  }

  .boton-editar:hover {
    background-color: #007a85;
  }

  .enlaces-perfil {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .enlaces-perfil a {
    text-decoration: none;
    color: #004d66;
    background-color: #e0f2f1;
    padding: 1em;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #cce7e7;
    transition: background-color 0.3s, color 0.3s;
  }

  .enlaces-perfil a:hover {
    background-color: #b2dfdb;
    color: #003c4d;
  }

  .boton {
    display: flex;
    justify-self: flex-end;
    margin-left: 2em;
  }